*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-image: url(./img/fondo.jpg);
    background-attachment: fixed;
}

.img-nav{
    display: flex;
    align-items: center;
}

.navbar{
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
}

.menu-nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    list-style: none;
}

.item-nav{
    font-family: sans-serif;
    font-size: 1.1em;
    color: white;
}

.item-nav a{
    color: inherit;
    text-decoration: none;
}

.item-nav a:hover{
    text-decoration: underline 2px solid white;
    text-underline-position: under;
}

.contenedor-rappers{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.subtitulo-rapper{
    font-family: sans-serif;
    font-size: 2em;
    margin-top: 3%;
    color: white;
}

.contenedor-duki{
    border-left: 2px solid white;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    margin-left: 15%;
}

.rapper-duki{
    font-family: sans-serif;
    font-size: 1.7em;
    text-align: left;
    margin-bottom: -2%;
    margin-left: 35%;
    color: white;
}

.info-duki{
    font-family: sans-serif;
    font-size: 1em;
    width: 80%;
    padding: 2%;
    color: white;
}

.duki-img{
    width: 60%;
}

.contenedor-khea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    border-left: 2px solid white;
    margin-top: 1%;
    margin-left: 15%;
    margin-bottom: 3.5%;
}

.rapper-khea{
    font-family: sans-serif;
    font-size: 1.7em;
    text-align: left;
    margin-left: 35%;
    color: white;
}

.info-khea{
    font-family: sans-serif;
    font-size: 1em;
    width: 78%;
    padding: 2%;
    color: white;
}

.es{
    margin-right: 2%;
}

.img-khea{
    width: 62.3%;
}

.seccion-batallas{
    background-color: black;
    width: 100%;
}

.cont-rimas{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rimas{
    color: white;
    text-align: center;
}

.contenedor-batallas{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.batallas{
    width: 100%;
}

.batallas iframe{
    width: 70%;
}

.futer{
    width: 100%;
    height: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cont-logo-futer{
    width: 20%;
    margin-bottom: -3%;
    text-align: center;
}

.redes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-bottom: 2%;
}

.logo-redes{
    width: 40%;
}

.insta{
    width: 30%;
}

.linkedin{
    width: 80%;
}



.contenedor-info{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    width: 100%;
}

.subtitulo{
    font-family: sans-serif;
    font-size: 2em;
    margin-top: 3%;
    align-items: center;
}

.rap-info{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 3%;
}

.estilos {
    width: 20%;
}

.logo-estilos{
    width: 20%;

}

.htres-estilos{
    font-family: sans-serif;
    font-size: 1.4em;
}
.sad{
    text-align: center;
}

.cumbia-trap{
    text-align: center;
}

.amor{
    text-align: center;
}

.artistas{
    font-family: sans-serif;
    font-size: 1em;
    margin-top: -4%;
}

.contenedor-competencias{
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin-top: 3%;
}
.competencia{
    width: 27%;
    text-align: center;
    border: 2px solid black;
    margin-bottom: 3%;
}

.logos-competencias{
    width: 30%;
    margin-top: 2%;
}

.info-competencias{
    font-family: sans-serif;
    font-size: 1em;
    margin-top: -4%;
    text-align: left;
    padding: 2%;
}

@media (max-width: 768px) and (min-width:401px){
 
    .div-subtitulo{
        width: 100%;
        text-align: center;
    }

    .contenedor-duki{
        flex-wrap: wrap;
        border: none;
        margin-left: -1%;
    }

    .div-duki{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .rapper-duki{
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .info-duki{
        margin: 0;
        text-align: center;
    }

    .e{
        text-align: center;
    }

    .duki-img{
        width: 60%;
    }

    .contenedor-khea{
        border: none;
        flex-wrap: wrap;
        text-align: center;
    }

    .khea-cont{        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rapper-khea{
    margin-left: -15%;
    }
    
    .info-khea{
        text-align: center;
        margin-top: -7%;
        margin-left: -20%;
    }

    .es{
        text-align: center;
    }

    .img-khea{
        margin-top: -3%;
        margin-left: -15%;
        width: 65%;
    }

    .subtitulo{
        font-size: 2em;
    }

    .rap-info{
        flex-direction: column;
        align-items: center;
    }

    .estilos{
        border: 2px solid black;
        width: 55%;
        padding: 2%;
    }

    .logo-estilos{
        margin-bottom: -6%;
        width: 30%;
    }

    .amor{
        margin-top: 3%;
    }

    .cumbia-trap{
        margin-top: 3%;
    }

    .contenedor-competencias{
        flex-direction: column;
        align-items: center;
    }

    .competencia{
        width: 55%;
        padding: 2%;
    }

    .logos-competencias{
        width: 40%;
        margin-bottom: -6%;
    }

    .contenedor-batallas{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

    }
    
    .batallas{
        width: 100%;
    }

    .futer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 42%;
    }

    .redes{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;

    }

    .insta{
        margin-bottom: 4%;
    }

    .linkedin{
        width: 45%;
    }

}

@media (max-width: 600px) and (min-width:320px){
    .menu-nav{
        flex-direction: column;
        text-align: center;
        margin-top: 10%;
    }
}

@media (max-width: 400px) and (min-width:320px){
 
    .menu-nav{
        margin-top: 15%;
    }

    .contenedor-info{
        width: 103%;
    }

    .div-subtitulo{
        width: 100%;
        text-align: center;
        margin-top: 4%;
    }

    .seccion-batallas{
        width:103%;
    }

    .contenedor-duki{
        flex-wrap: wrap;
        border: none;
        margin-left: -1%;
    }

    .div-duki{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .rapper-duki{
        margin: 0;
        text-align: center;
        width: 100%;
    }

    .info-duki{
        margin: 0;
        text-align: center;
    }

    .e{
        text-align: center;
    }

    .duki-img{
        width: 60%;
    }

    .contenedor-khea{
        border: none;
        flex-wrap: wrap;
        text-align: center;
    }

    .khea-cont{        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .rapper-khea{
    margin-left: -15%;
    }
    
    .info-khea{
        text-align: center;
        margin-top: -7%;
        margin-left: -20%;
    }

    .es{
        text-align: center;
    }

    .img-khea{
        margin-top: -3%;
        margin-left: -15%;
        width: 65%;
    }

    .subtitulo{
        font-size: 1.7em;
    }

    .htres-estilos{
        font-size: 1.5em;
    }

    .rap-info{
        flex-direction: column;
        align-items: center;
    }

    .estilos{
        border: 2px solid black;
        width: 80%;
        padding: 2%;
    }

    .logo-estilos{
        margin-bottom: -6%;
        width: 30%;
    }

    .amor{
        margin-top: 3%;
    }

    .cumbia-trap{
        margin-top: 3%;
    }

    .contenedor-competencias{
        flex-direction: column;
        align-items: center;
    }

    .competencia{
        width: 80%;
        padding: 2%;
    }

    .logos-competencias{
        width: 40%;
        margin-bottom: -6%;
    }

    .futer{
        width: 103%;
    }

    .contenedor-batallas{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;

    }
    
    .batallas{
        width: 100%;
    }

    .futer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 42%;
    }

    .cont-logo-futer{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .redes{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0;

    }

    .insta{
        margin-bottom: 4%;
    }

    .linkedin{
        width: 45%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .cont-logo-futer{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .redes{
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;

    }
}